@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&display=swap');
body {
    background-color: antiquewhite;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
    align-items: center;
    /* justify-content: space-between; */
    padding: 0 20px;
    margin: 0;
}

nav ul li {
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

nav ul li a {
    color: white;
    text-decoration: none;
   
    /* font-size: 18px; */
}

nav ul .brand img {
    width: 44px;
    padding-left: 8px;
    padding-right: 8px;
}

.about-container {
    padding: 20px;
}

.about-container h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about-container h2 {
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.about-container p {
    font-size: 18px;
    line-height: 1.6;
}

.about-container ul {
    list-style-type: disc;
    padding-left: 40px;
    font-size: 18px;
    line-height: 1.6;
}

.about-img {
    width: 500px;
    height: auto;
    margin: 20px 0;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

